﻿@using App.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>SPOP+ | Login </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">


    <!--end::Web font -->
    <!--begin::Global Theme Styles -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="../../../assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="~/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/vendors/base/fonts/poppins.css" rel="stylesheet" />
    <link href="~/assets/vendors/base/fonts/roboto.css" rel="stylesheet" />
    <!--RTL version:<link href="../../../assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Global Theme Styles -->
    @*<link rel="shortcut icon" href="~/assets/demo/default/media/img/logo/favicon.ico" />*@
    <link rel="shortcut icon" href="~/assets/app/media/img/favicon.ico" />

    <!-- Custom Style -->
    <link rel="stylesheet" href="~/assets/app/css/customv2.css">
    <style>
        .m-login.m-login--1 .m-login__wrapper {
            padding-bottom: 0px;
        }
    </style>
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-grid-item--center" style="background-image: url(../../../assets/app/media/img//bg/bg-app.jpg)">
                <div class="m-grid__item p-5">
                    <h3 class="m-login__welcome"><span class="text-light">Welcome to</span> C# Starter Pack</h3>
                    <p class="m-login__msg">
                        To keep connected with C# Starter Pack Please login with your personal username and password
                    </p>
                </div>
            </div>
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo">
                                <a href="#">
                                    <img src="~/assets/app/media/img/AppLogo.png">
                                </a>
                            </div>
                            <div class="m-login__signin">
                                <div class="m-login__head">
                                    <!-- <h3 class="m-login__title">Sign In To Admin</h3> -->
                                </div>

                                @Html.Partial("_FlashMessage")

                                @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form", role = "form" })) {
                                    @Html.AntiForgeryToken()
                                    <input name="valerror" type="hidden" />
                                    @*<div class="form-group m-form__group">
                                        <label class="mb-0 text-black-50" for="m_login_email">Email</label>
                                        <input class="form-control m-input" id="m_login_email" type="text" placeholder="Email" name="Email" autocomplete="on">
                                    </div>*@
                                
                                    <div class="form-group m-form__group">
                                        <label class="mb-0 text-black-50" for="m_login_username">Username</label>
                                        <input class="form-control m-input" id="m_login_username" type="text" placeholder="Username" name="UserName" autocomplete="on">
                                    </div>
                                    <div class="form-group m-form__group mt-4">
                                        <label class="mb-0 text-black-50" for="m_login_parentsname">Parents Name</label>
                                        <input class="form-control m-input" id="m_login_parentsname" type="text" placeholder="ParentsName" name="ParentsName" autocomplete="on">
                                    </div>
                                    <div class="form-group m-form__group mt-4">
                                        <label class="mb-0 text-black-50" for="m_login_password">Password</label>
                                        <input class="form-control m-input" id="m_login_password" type="password" placeholder="Password" name="Password">
                                    </div>
                                    <div class="row m-login__form-sub">
                                        <div class="col m--align-left">
                                            <label class="m-checkbox m-checkbox--focus">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { type = "checkbox" }) Remember me
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col m--align-right" style="display:none">
                                            <a href="javascript:;" id="m_login_forget_password" class="m-link">Forget Password ?</a>
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        @*<button id="m_login_signin_submitc" type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Sign In</button>*@
                                        <button id="m_login_signin_submitts" type="submit" class="btn btn-focus m-btn m-btn--pill">Sign In</button>
                                    </div>
                                }
                            </div>
                            <div class="m-login__forget-password">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">Forgotten Password ?</h3>
                                    <div class="m-login__desc">Enter your email to reset your password:</div>
                                </div>
                                <form class="m-login__form m-form" action="">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Request</button>
                                        <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="m-stack__item m-stack__item--center text-center">
                        <a href="#"><img class="m-login__logos" alt="" src="~/assets/app/media/img/logo-idx.png" /></a>
                        <a href="http://yuknabungsaham.idx.co.id/"><img class="m-login__logos" alt="" src="~/assets/app/media/img/logo-yuk-nabung-saham.png" /></a>
                        <!-- <div class="m-login__account">
                            <span class="m-login__account-msg">
                                Don't have an account yet ?
                            </span>&nbsp;&nbsp;
                            <a href="javascript:;" id="m_login_signup" class="m-link m-link--focus m-login__account-link">Sign Up</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!--begin::Global Theme Bundle -->
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="~/assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>
    <script src="~/assets/vendors/base/JQuery.cookie.js"></script>
    <script src="~/assets/app/js/my-script.js?v=@(DateTime.Now.ToString("o"))"></script>
    <script type="text/javascript">
        $(function () {
            debugger;
            window.flashMessage($("#flash-messages"));
        });
    </script>
    <!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>

